node_modules
dist
.DS_Store
server/public
vite.config.ts.*
*.tar.gz
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# UPM (not needed with Nix)
.upm/