
modules = ["nodejs-20", "rust-stable", "nix"]
hidden = [".config", "tsconfig.tsbuildinfo", ".next", ".swc"]

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]

[nix]
channel = "stable-24.05"

[unitTest]
language = "nodejs"

[deployment]
run = ["task", "build"]
deploymentTarget = "cloudrun"
ignorePorts = false

[workflows]
runButton = "Dev"

[[workflows.workflow]]
name = "Dev"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev:replit"
waitForPort = 5173
